<div id="jogos">
  <div class="page-header text-center has-btn-new container">
    <div class="m-3">
      <h1>Jogos</h1>
      <!-- <a class="btn btn-new" href="#"><h1>+</h1></a> -->
    </div>
  </div>
  <app-image-panel [images]="jogosImageArray"></app-image-panel>
</div>
<div id="plataformas">
  <div class="page-header text-center has-btn-new container">
    <div class="m-3">
      <h1>Plataformas / Consoles</h1>
      <!-- <a class="btn btn-new" href="#"><h1>+</h1></a> -->
    </div>
  </div>
  <app-image-panel [images]="plataformasImageArray"></app-image-panel>
</div>
