<page-title [title]="title"></page-title>
<div class="text-center p-4">
  <div class="p-4">
    <p class="p-2">Trabalho para conclusão da matéria "Frameworks Web"</p>
    <p class="p-2">Pós-graduação em Engenharia de Software Java</p>
    <p class="p-2">Universidade Federal do Paraná (UTFPR)</p>

    <p class="p-4">
      As imagens externas utilizadas como demonstração estão mapeadas no arquivo <a href="https://github.com/leterio/game-storage-management/blob/main/db.json">db.json</a>, na raiz deste projeto.
    </p>

    <p class="p-4">
      Um ambiente de desenvolvimento utilizando VSCode + Docker está disponível na branch "<a
        href="https://github.com/leterio/game-storage-management/tree/devcontainer"
        >devcontainer</a
      >".
    </p>
  </div>
  <div class="p-4">
    <p>Desenvolvido por: <a href="https://github.com/leterio">Vinícius Letério</a></p>
  </div>
</div>
