<page-title title="Jogos" routerLinkTarget="novo"></page-title>
<div class="detailed-list container">
  <div *ngFor="let jogo of jogos" class="row detailed-list-item my-2">
    <div class="overlay"></div>
    <div class="col-xl-2 col-lg-3 image-panel g-0">
      <image-container [image]="jogo.imagem"></image-container>
    </div>
    <div class="col-xl-10 col-lg-9 g-0">
      <div class="container">
        <div class="row">
          <div class="col detailed-list-item-title mt-1">{{ jogo.titulo }}</div>
        </div>
        <div class="row">
          <div class="col detailed-list-item-fields">
            <div class="container">
              <div class="row mt-1">
                <div class="col-5 col-lg-2">Field 1:</div>
                <div class="col-7 col-lg-4">Field 1 Value</div>
                <div class="col-5 col-lg-2">Field 2:</div>
                <div class="col-7 col-lg-4">Field 2 value</div>
              </div>
              <div class="row mt-1">
                <div class="col-5 col-lg-2">Field 3:</div>
                <div class="col-7 col-lg-4">Field 3 value</div>
                <div class="col-5 col-lg-2">Field 4:</div>
                <div class="col-7 col-lg-4">Field 4 value</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
