:host {
  --local-image-container-size: 8em;
}

.data-grid-item {
  background-color: var(--data-grid-item-bg);
  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out;
}

.data-grid-item:hover {
  box-shadow: var(--grid-box-shadow);
}

.data-grid-item-title {
  font-size: calc(var(--font-size) * 1.5);
}
