@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-Regular.ttf) format("truetype");
}

:root {
  --font-family: "Roboto";
  --font-size: 1rem;
}

body {
  --bs-body-color: var(--font-color);
  --bs-body-font-family: var(--font-family);
  --bs-body-font-size: var(--font-size);
  --bs-body-bg: var(--body-bg);
}

.wireframe * {
  outline: inset 1px red !important;
}

.dark-theme {
  --font-color: #eee;
  --body-bg: #222;
  --header-bg: #444;
  --header-menu-bg: #393939;

  /* Components */
  --detailed-list-item-bg: #2e2e2e;

  /* Forms */
  --field-bg: #333;
  --field-focus-box-shadow-color: #444;
}
